{% extends "layout.njk" %}

{% block head %}

    <title>{{ item.title }}
        - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/course.css">

{% endblock head %}

{% block content %}

    <section class="course">

        <div class="card" id="{{item.id}}">
            <div>
                <a class="external_link" href="http://www.rocketseat.com.br/{{item.id}}" target="_blank">
                    <i class="material-icons">link</i>
                </a>
            </div>
            <div class="card__course-container">
                <iframe src="http://www.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
            </div>
            <div class="card__content">
                <p>{{item.title}}</p>
            </div>
            <div class="card__info">
                <p>{{item.modules}}</p>
                <p class="card__price">{{item.price}}</p>
            </div>
        </div>

    </section>

    <script src="/scripts/course.js"></script>

{% endblock content %}